.sidebar-titulos{
    font-size: 150%;
}   

body{
    background-color: #d6d6d6c5;
}

.col-md-8.offset-md-1.p-3{
    background-color: white;
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 8px;
}

.col-md-3{
    background-color: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 1%;
    overflow-y: auto;
    border-radius: 8px;
}

.info {
    flex: 1;
    text-align: left;
    margin-left: 30%;
}

.header-img {
    flex: 0 0 auto;
    margin-left: 5%;
}

#header-foto {
    border-radius: 50%;
    max-width: 170px;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header {
    background-color: #80b4e8df;
    color: white;
    display: flex;
    align-items: center;
    padding: 2%;  
}
